.password-strength {
  width: 100%;
  height: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;

  .weak {
    background-color: red;
  }

  .medium {
    background-color: orange;
  }

  .strong {
    background-color: green;
  }
}
